.jumbotron {
  background-image: url("../images/top-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black;
  text-decoration: solid;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}

img {
width: 25%;
height: auto;
display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
    padding: 5px;
    margin: 5px;
  }

  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  